@use '@/shared/components/ui/scss/media' as *;

$container-w: 100%;
$container-h: 100vh;

$model-w: 100%;
$model-h: 100%;

$button-w: 320px;
$button-h: 64px;
$button-fs: 24px;
$button-sm-fs: 21px;
$button-pos: absolute;
$button-b: 24px;
$button-br: 24px;
$button-sm-w: 90%;

.container {
    width: $container-w;
    height: $container-h;

    .model-scene {
        width: $model-w;
        height: $model-h;
    }
}

.button {
    position: $button-pos;
    bottom: $button-b;
    width: $button-w;
    height: $button-h;

    font-size: $button-fs;
    border-radius: $button-br;

    @include media('max', 'sm') {
        font-size: $button-sm-fs;
        width: $button-sm-w;
    }
}